<script type="text/javascript" src="https://js.pay.jp/"></script>


<%= render "/layouts/module/navbar" %>
<%= render "/layouts/module/bread-crumbs" %>
<div class="main">

<div class="mypage">
  <%= render "/users/shared/user-menu" %>

  <div class="new customer user-content">
    <div class="registration-container">
      <header>クレジットカード情報入力</header>
      <div class="form__container">
        <div class="form__item">
          <%= form_tag("/customers", method: "post", id:"charge-form") do %>
            <p class="charge-errors"><%= h(flash[:alert]) %></p>
            <div class="field">
              <label>カード番号</label>
              <span>必須</span>
              <input type="text" class="number" name="number" maxlength="16" placeholder="カード番号" autofocus="true" value=4242424242424242>
            </div>

            <ul class="signup-card-list field">
              <li>
                <img src="//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?3708647559" width="49" height="20" alt="">
              </li>
              <li>
                <img src="//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?3708647559" width="34" height="20" alt="">
              </li>
              <li>
                <img src="//www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?3708647559" width="30" height="20" alt="">
              </li>
              <li>
                <img src="//www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?3708647559" width="32" height="20" alt="">
              </li>
              <li>
                <img src="//www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?3708647559" width="21" height="20" alt="">
              </li>
              <li>
                <img src="//www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?3708647559" width="32" height="20" alt="">
              </li>
              <li>
                <img src="//www-mercari-jp.akamaized.net/assets/img/card/discover.svg?3708647559" width="32" height="20" alt="">
              </li>
            </ul>

            <div class="field">
              <label>有効期限</label>
              <div>
                <%= select :exp, :month, [*(1..12)].map{|n| [n, n]}, class: "exp_month" %>
                <div class="date">月</div>
                <%= select :exp, :year, [*(2020..2100)].map{|n| [n, n]}, class: "exp_year" %>
                <div class="date">年</div>
              </div>
            </div>

            <div class="field">
              <label>セキュリティコード</label>
              <span>必須</span>
              <input type="text" class="cvc" name="cvc" maxlength="3" placeholder="カードの背面4桁もしくは3桁の番号">
            </div>

            <button type="submit" class="registration">追加する</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

</div>


