<div class="main">

<div class="registration-container">
  <div class="form__container">
    <%= form_for @product do |f| %>
    <header>商品の情報を入力</header>
    <div class="form__item">
      <label>出品画像</label>
      <span>必須</span>
        <div class="drop" id="drop">
          <%= f.file_field :image %>
          <label for="product" id="dropbox" class="drop__zone">
            ドラッグアンドドロップ<br>
            またはクリックしてファイルをアップロード
            <%= file_field_tag :product, multiple:true, class: "hidden" %>
          </label>
        </div>
    </div>
    <div class="form__item">
      <label>商品名</label>
      <span>必須</span>
      <%= f.text_field :name, placeholder:"商品名(必須40文字まで)", class: "listInput" %>
    </div>
    <div class="form__item">
      <label>商品の説明</label>
      <span>必須</span>
      <%= f.text_area :description, rows:6, placeholder:"商品の説明" %>
    </div>

    <div class="form__detail">
    <div class="form__heading">商品の詳細</div>
    <div class="form__item">
      <label>カテゴリー</label>
      <span>必須</span>
      <%= select :root, :category, @categories.map{|t| [t.category, t.id]}, prompt: "--" %>
    </div>
    </div>
    <div class="form__detail">
      <div class="form__heading"></div>
      <div class="form__item">
        <label>商品の状態</label>
        <span>必須</span>
        <%= f.select :condition, [["新品",0],["目立った傷や汚れなし",1]], prompt: "--" %>
      </div>
    </div>

    <div class="form__detail">
     <div class="form__heading">配送について</div>
     <div class="form__item">
        <label>配送料の負担</label>
        <span>必須</span>
        <%= f.select :derivery_way, [["送料込み（出品者負担）",0],["着払い（購入者負担）",1]], prompt: "--" %>
      </div>
    </div>
    <div class="form__detail">
      <div class="form__heading"></div>
      <div class="form__item">
        <label>配送元の地域</label>
        <span>必須</span>
        <%= f.select :derivery_source, [["北海道",0],["沖縄",1]], prompt: "--" %>
      </div>
    </div>
    <div class="form__detail">
      <div class="form__heading"></div>
      <div class="form__item">
        <label>配送までの日数</label>
        <span>必須</span>
        <%= f.select :derivery_day, [["1-2日で発送",0],["2-3日で発送",1],["4-7日で発送",2]], prompt: "--" %>
      </div>
    </div>

    <div class="form__detail">
      <div class="form__heading">販売価格(300~9,999,999)</div>
      <div class="form__item form__price">
        <label>価格</label>
        <span>必須</span>
        <label class="en">¥</label>
        <%= f.text_field :price, placeholder:"300~" %>
      </div>
    </div>
    <div class="form__detail">
      <div class="form__heading"></div>
      <div class="form__item form__price">
        <label>販売手数料(10%)</label>
        <label class="en">¥</label>
        <div class="form__price__commission"></div>
      </div>
    </div>
    <div class="form__detail">
      <div class="form__heading"></div>
      <div class="form__item form__price">
        <label>販売利益</label>
        <label class="en">¥</label>
        <div class="form__price__commission"></div>
      </div>
    </div>
    <%= f.submit "出品する", class:"registration" , id: "product_registration"%>
  <% end %>
  </div>
</div>
<div id="complete"></div>

</div>
